# Part 1: Setup and Data Collection

This notebook handles:
- Library imports and configuration
- Data collection from Yahoo Finance
- Saving raw data for next notebooks

## 1.1 Setup and Configuration

In [ ]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf
from pathlib import Path
from datetime import datetime

plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette('husl')
plt.rcParams['figure.figsize'] = (12, 6)
plt.rcParams['font.size'] = 10

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.float_format', '{:.4f}'.format)

✓ All libraries imported successfully!
✓ Analysis date: 2025-11-30 12:30

## 1.2 Define Stock Tickers and Date Range

In [ ]:
tech_stocks = ['AAPL', 'MSFT', 'GOOGL']
finance_stocks = ['JPM', 'BAC', 'GS']
all_tickers = tech_stocks + finance_stocks

start_date = '2020-01-01'
end_date = datetime.now().strftime('%Y-%m-%d')

%store tech_stocks
%store finance_stocks
%store all_tickers
%store start_date
%store end_date

Fetching data for 6 stocks from 2020-01-01 to 2025-11-25...
Technology Sector: AAPL, MSFT, GOOGL
Financial Sector: JPM, BAC, GS
Stored 'tech_stocks' (list)
Stored 'finance_stocks' (list)
Stored 'all_tickers' (list)
Stored 'start_date' (str)
Stored 'end_date' (str)

## 1.3 Download Stock Data

In [ ]:
prices_list = []

for ticker in all_tickers:
    try:
        stock = yf.download(ticker, start=start_date, end=end_date, progress=False, auto_adjust=True)
        if not stock.empty:
            if isinstance(stock.columns, pd.MultiIndex):
                close_price = stock['Close'][ticker] if ticker in stock['Close'].columns else stock['Close'].iloc[:, 0]
            else:
                close_price = stock['Close'] if 'Close' in stock.columns else stock.iloc[:, 0]
            
            prices_list.append(pd.Series(close_price.values, index=close_price.index, name=ticker))
    except Exception as e:
        print(f"✗ Error: {e}")

prices_df = pd.concat(prices_list, axis=1)

Downloading AAPL... ✓ (1483 days)
Downloading MSFT... ✓ (1483 days)
Downloading GOOGL... ✓ (1483 days)
Downloading JPM... ✓ (1483 days)
Downloading BAC... ✓ (1483 days)
Downloading GS... ✓ (1483 days)

✓ Data fetched successfully!
✓ Shape: (1483, 6)
✓ Date range: 2020-01-02 to 2025-11-24

## 1.4 Save Raw Data

In [ ]:
data_dir = Path.cwd().parent / 'data' / 'raw'
data_dir.mkdir(parents=True, exist_ok=True)

output_path = data_dir / 'stock_prices.csv'
prices_df.to_csv(output_path)

%store prices_df

✓ Data saved to /Users/mkgp3/WebstormProjects/Market Pulse Python Project/data/raw/stock_prices.csv
Stored 'prices_df' (DataFrame)

## 1.5 Preview Data

In [ ]:
print("First 5 rows:")
display(prices_df.head())

print("\nLast 5 rows:")
display(prices_df.tail())

print("\nData Info:")
print(prices_df.info())

First 5 rows:

              AAPL     MSFT   GOOGL      JPM     BAC       GS
Date
2020-01-02 72.4683 152.5057 67.9652 119.5734 30.9203 204.1899
2020-01-03 71.7637 150.6068 67.6097 117.9954 30.2783 201.8022
2020-01-06 72.3356 150.9960 69.4118 117.9016 30.2349 203.8674
2020-01-07 71.9954 149.6192 69.2777 115.8972 30.0354 205.2094
2020-01-08 73.1535 152.0025 69.7708 116.8013 30.3391 207.1876

Last 5 rows:

               AAPL     MSFT    GOOGL      JPM     BAC       GS
Date
2025-11-18 267.4400 492.8676 284.2800 299.4100 51.6400 776.3000
2025-11-19 268.5600 486.2100 292.8100 303.2700 52.0200 785.9900
2025-11-20 266.2500 478.4300 289.4500 298.3800 51.0000 773.7000
2025-11-21 271.4900 472.1200 299.6600 298.0200 51.5600 774.0300
2025-11-24 275.9200 474.0000 318.5800 298.0000 51.9300 790.7100

Data Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1483 entries, 2020-01-02 to 2025-11-24
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    1483 non-null   float64
 1   MSFT    1483 non-null   float64
 2   GOOGL   1483 non-null   float64
 3   JPM     1483 non-null   float64
 4   BAC     1483 non-null   float64
 5   GS      1483 non-null   float64
dtypes: float64(6)
memory usage: 81.1 KB
None